@model ForumCustom.BLL.DTO.UserInfo

@{
    ViewData["Title"] = "ChangeRoles";
}

<h1>ChangeRoles</h1>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifyTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Change", "ChangeRoles", new { Login = Model.Login }) |
    <a asp-action="ChangeRoles" asp-controller="User" asp-protocol="POST" method="post">Back to List</a>

    <button type="submit" name="culture" value="@Model.Login" method="post">
        DFSGHJDSSFDF
    </button>
    <form method="post">

        <button type="submit" name="culture" value="@Model.Login" method="post">
            DFSGHJDSSFDF
        </button>
    </form>
</div>